shamefully-hoist=true
strict-peer-dependencies=false
registry=https://registry.npmmirror.com/ # 默认走淘宝镜像
@zczy:registry=http://172.20.22.19:4873/ # 公司内部npm私有源
sass_binary_site=https://www.npmmirror.com/mirrors/node-sass
